@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root { 
    --primary: #f7464c;
    --secondary: #1b323e;
    --secondary-light: #1a7788;
  }
}
.btn{
  border: 1px solid #f7464c;
  padding: 14px;
  width: 160px;
  text-transform: uppercase;
  font-size: 0.9rem;
  background-color: #f7464c;
  font-weight: bold;
  letter-spacing:1px;

}
.btn-trn{
  background-color: transparent;
  border: 1px solid white;
  padding: 14px;
  width: 160px;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing:1px;
}
.btn-trn:hover {
  background-color: #f7464c;
  border-color: #f7464c;
  /* color: var(--primary); */
}
.btn:hover{
  background-color: transparent;
  color: var(--primary);
}


body{
  overflow-x: hidden;
}
@media (max-width: 768px) {
  /* .hero{
  background-size:90% 100%;
  background-position:  center;
}  */
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
